@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SchatzApp.Entities.PageResult

<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
  <title>@Model.Title</title>
  <meta name="description" content="@Model.Description" />
  <meta property="og:title" content="@Model.Title" />
  <meta property="og:description" content="@Model.Description" />
  <meta property="og:locale" content="de_DE" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700&subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald:700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <environment names="Development">
    <link rel="stylesheet" href="/static/dev-style/style.css">
    <link rel="stylesheet" href="/static/dev-style/quiz.css">
    <link rel="stylesheet" href="/static/dev-style/result.css">
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="/static/prod-style/app.min.css" asp-append-version="true">
  </environment>
</head>
<body class="has-initial-content">
  <div id="header">
    <div id="header-centrer">
      <div id="header-logo">
        <span id="logo1">wort</span>
        <span id="logo2">schatz</span>
      </div>
      <div id="header-menu">
        <a id="lnkTest" class="ajax" href="/">Der Test</a>
        <a id="lnkBackground" class="ajax" href="/hintergrund">Hintergrund</a>
      </div>
    </div>
  </div>
  <div id="hwrap">
    <div id="centrer">
      <div id="content">
        @Html.Raw(Model.Html)
      </div>
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    &copy; 2016 Gabor L Ugray &bull; <span id="imprint">Impressum</span>
  </div>
  <div id="bittercookie">
    <div>Diese Webseite verwendet Cookies für einige Funktionen. Indem Sie die Webseite benutzen, stimmen Sie der Nutzung von Cookies zu.</div>
    <div>
      <a id="swallowbitterpill" href="#">OK</a>
      <a id="cookierecipe" href="/cookies" target="_blank">Mehr erfahren</a>
    </div>
  </div>

  <environment names="Development">
    <script src="/static/lib/history.min.js"></script>
    <script src="/static/lib/jquery-2.1.4.min.js"></script>
    <script src="/static/lib/countUp.js"></script>
    <script src="/static/dev-js/page.js"></script>
    <script src="/static/dev-js/quiz.js"></script>
    <script src="/static/dev-js/result.js"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="/static/prod-js/app.min.js" asp-append-version="true"></script>
  </environment>
</body>
</html>
